CircleCrossGame/Service References/TicTacToeServiceReference/item41.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/TicTacToe/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/TicTacToeEngine.Game" />
  <xs:import schemaLocation="http://localhost/TicTacToe/?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/TicTacToeEngine.Utility" />
  <xs:element name="Join">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="JoinResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/TicTacToeEngine.Game" minOccurs="0" name="JoinResult" nillable="true" type="q1:Player" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MakeTurn">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/TicTacToeEngine.Utility" minOccurs="0" name="sign" type="q2:Sign" />
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/TicTacToeEngine.Utility" minOccurs="0" name="field" type="q3:Field" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Subscribe">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SubscribeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SubscribeResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Unsubscribe">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UnsubscribeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UnsubscribeResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OnTurnEnd">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/TicTacToeEngine.Utility" minOccurs="0" name="turnResult" type="q4:TurnResult" />
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/TicTacToeEngine.Utility" minOccurs="0" name="sign" type="q5:Sign" />
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/TicTacToeEngine.Utility" minOccurs="0" name="field" type="q6:Field" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>