CircleCrossGame/Service References/TicTacToeServiceReference/item4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/TicTacToeEngine.Game" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/TicTacToeEngine.Game" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/TicTacToe/?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/TicTacToeEngine.Utility" />
  <xs:complexType name="Player">
    <xs:sequence>
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/TicTacToeEngine.Utility" minOccurs="0" name="PlayerSign" type="q1:Sign" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Player" nillable="true" type="tns:Player" />
</xs:schema>